.start_form, ul {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  list-style-type: none;
}

.app {
  text-align: center;
}

.start_form :is(input,button), .heading {
  margin-top: 10px;
}

.start_game_button {
  float: right;
}

.players  {
  text-align: left;
  margin-left: 20%;
  margin-top: -10px;
  padding-left: 0px;
}
h5.players {
  margin-bottom: 20px;
}
ul.players li, .current_info {
  float: left;
  padding: 3px;
}

.current_info {
  margin-left: 10px;
  border: 3px solid black;
}

.btn-troops {
  display: block;
}

