.start_form, ul {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  list-style-type: none;
}

.app {
  text-align: center;
}

.start_form :is(input,button), .heading {
  margin-top: 10px;
}

.start_game_button {
  float: right;
}

.players, .cards  {
  text-align: left;
  margin-left: 20%;
}
h5.players {
  margin-bottom: 20px;
}

.cards h5 {
  display: inline;
}
ul.players li, .current_info {
  float: left;
  padding: 3px;
}

.current_info {
  margin-left: 10px;
  border: 3px solid black;
}

.btn-troops {
  display: block;
}

.cards li {
  width: 300px;
}

.cards {
  float: left;
  margin-top: 0px;
  margin-bottom: 10px
}

.cards button {
  margin-bottom: 10px;
}

.cards ul {
  padding-left: 0px;
  float: left;
}

.cards h5 {
  margin-right: 10px;
}

.cards-auto-button {
  margin-right: 10px;
}

